body{
    background-image: url(space.jpg);
}
h1{
    color: white;
    font-size: 100px;
    display: flex;
  justify-content: center;
  align-items: center;
    padding-left: 5%;
    text-shadow:  1px 2px 5px rgb(166, 209, 230),
    0 0 1em rgb(23, 75, 109),
    0 0 0.2em rgb(71, 138, 182);
    font-family: Ok;
    margin: 0%; 
    position: relative;
    animation: shift 1s;
}

.logo{
    padding-left: 1%;
    padding-top: 1%;
    width: 7%;
    position: absolute;
}
.nav {
  display: flex;
  justify-content: space-around;
  list-style:none;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  border-radius:5px;
  
}

.nav li a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-family: ITC;
}
.LOONA{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
}
.LOONA:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;
}
.Members{
     color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Members:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;}
.Discography{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Discography:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;}
.Redebuts{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Redebuts:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;
}
.solos{
width: 90%;
}
.loona13{
    width: 90%;
}
.eye{
    width: 90%;
}

.body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.column{
  width: 1000px;
}

@font-face {
    font-family: ITC;
    src: url(ITC\ Avant\ Garde\ Gothic\ Std\ Extra\ Light.otf);
}
@font-face {
    font-family: Ok;
    src: url(Okaluera.otf);
}
@keyframes shift {
    0% {top:-10px; opacity: 0;}
    100%{top: 0px; opacity: 1;}
}