body{
    background-image: url(space.jpg);
}
h1{
    color: white;
    font-size: 100px;
    display: flex;
  justify-content: center;
  align-items: center;
    padding-left: 5%;
    text-shadow:  1px 2px 5px rgb(166, 209, 230),
    0 0 1em rgb(23, 75, 109),
    0 0 0.2em rgb(71, 138, 182);
    font-family: Ok;
    margin: 0%; 
}

.logo{
    padding-left: 1%;
    padding-top: 1%;
    width: 7%;
    position: absolute;
}
.nav {
  display: flex;
  justify-content: space-around;
  list-style:none;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  border-radius:5px;
  
}

.nav li a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-family: ITC;
}
.LOONA{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.Members{
     color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.Discography{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.Redebuts{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.solos{
width: 90%;
}
.loona13{
    width: 90%;
}
.eye{
    width: 90%;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}


.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}
@font-face {
    font-family: ITC;
    src: url(ITC\ Avant\ Garde\ Gothic\ Std\ Extra\ Light.otf);
}
@font-face {
    font-family: Ok;
    src: url(Okaluera.otf);
}