/* STYLE FOR YOU MAIN.HTML */
/* STYLE FOR YOUR INDEX.HTML */
body{
    background-image: url(space.jpg);
}
h1{
    color: white;
    font-size: 100px;
    display: flex;
  justify-content: center;
  align-items: center;
    padding-left: 5%;
    text-shadow:  1px 2px 5px rgb(166, 209, 230),
    0 0 1em rgb(23, 75, 109),
    0 0 0.2em rgb(71, 138, 182);
    font-family: Ok;
    margin: 0%; 
    position: relative;
    animation: shift 1s;
}

.logo{
    padding-left: 1%;
    padding-top: 1%;
    width: 7%;
    position: absolute;
}
.nav {
  display: flex;
  justify-content: space-around;
  list-style:none;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  border-radius:5px;
  
}

.nav li a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
    font-family: ITC;
}
.flex1{
    display: flex;
    flex-wrap: wrap;

}
.flex1 div{
    background-color: rgb(255, 255, 255);
    width: 23%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: black solid 1px;
    border-radius: 4px;
}
@font-face {
    font-family: Ting;
    src: url(TingTong.ttf);
}
@font-face{
    font-family: didot;
    src: url(Didot.otf);
}
.LOONA{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
}
.LOONA:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;
    animation: shakey .7s infinite;
}
.LOONA:active{
box-shadow: 0px 0px 5px 5px white
}
.Members{
    display: inline-block;
     color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Members:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;
    animation: shakey .7s infinite;
    
  }
.Members:active{
box-shadow: 0px 0px 5px 5px white
}

.Discography{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Discography:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;
    animation: shakey .7s infinite;
  }
  .Discography:active{
box-shadow: 0px 0px 5px 5px white
}
.Redebuts{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.Redebuts:hover{
    background-color: transparent;
    box-shadow: none;
    color: #f1f1f1;
    box-shadow: 0 0 0 2px white;
    animation: shakey .7s infinite;
}
.Redebuts:active{
box-shadow: 0px 0px 5px 5px white
}
.heejin{
    transition: background-color .5s;
}
.heejin:hover{
  box-shadow: 0px 0px 0px 3px #ff0099 ;
  background-color: #ff00994f;
  color: white;
}
.heejin:hover .name1{
  scale: 115%; transform: rotate(6deg)
}
.name1{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.hyunjin{
    transition: background-color .5s;
}
.hyunjin:hover{
  box-shadow: 0 0 0 3px #fed103;
  background-color: #fed1034f;
  color: white;
}
.hyunjin:hover .name2{
    scale: 115%; transform: rotate(6deg)
}
.name2{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.haseul{
    transition: background-color .5s;
}
.haseul:hover{
  box-shadow: 0 0 0 3px #00b055;
  background-color: #00b0554f;
  color: white;
}
.haseul:hover .name3{
    scale: 115%; transform: rotate(6deg)
}
.name3{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.yeojin{
    transition: background-color .5s;
}
.yeojin:hover{
  box-shadow: 0 0 0 3px #ff7423;
  background-color: #ff74234f;
  color: white;
}
.yeojin:hover .name4{
    scale: 115%; transform: rotate(6deg)
}
.name4{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.vivi{
    transition: background-color .5s;
}
.vivi:hover{
  box-shadow: 0 0 0 3px #ffacc6;
  background-color: #ffacc64f;
  color: white;
}
.vivi:hover .name5{
    scale: 115%; transform: rotate(6deg)
}
.name5{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.kimlip{
    transition: background-color .5s;
}
.kimlip:hover{
  box-shadow: 0 0 0 3px #f3080a;
  background-color: #f3080a4f;
  color: white;
}
.kimlip:hover .name6{
    scale: 115%; transform: rotate(6deg)
}
.name6{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.jinsoul{
    transition: background-color .5s;
}
.jinsoul:hover{
  box-shadow: 0 0 0 3px #0c01ff;
  background-color: #0c01ff4f;
  color: white;
}
.jinsoul:hover .name7{
    scale: 115%; transform: rotate(6deg)
}
.name7{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.choerry{
    transition: background-color .5s;
}
.choerry:hover{
  box-shadow: 0 0 0 3px #972ac5;
  background-color: #972ac54f;
  color: white;
}
.choerry:hover .name8{
    scale: 115%; transform: rotate(6deg)
}
.name8{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.yves{
    transition: background-color .5s;
}
.yves:hover{
  box-shadow: 0 0 0 3px #6f002f;
  background-color: #6f002f4f;
  color: white;
}
.yves:hover .name9{
    scale: 115%; transform: rotate(6deg)
}
.name9{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.chuu{
    transition: background-color .5s;
}
.chuu:hover{
  box-shadow: 0 0 0 3px #feb08a;
  background-color: #feb08a4f;
  color: white;
}
.chuu:hover .name10{
    scale: 115%; transform: rotate(6deg)
}
.name10{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.gowon{
    transition: background-color .5s;
}
.gowon:hover{
  box-shadow: 0 0 0 3px #84e067;
  background-color: #84e0674f;
  color: white;
}
.gowon:hover .name11{
    scale: 115%; transform: rotate(6deg)
}
.name11{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.olivia{
    transition: background-color .5s;
}
.olivia:hover{
  box-shadow: 0 0 0 3px #676a6d ;
  background-color: #676a6d4f;
  color: white;
}
.olivia:hover .name12{
    scale: 115%; transform: rotate(6deg)
}
.name12{
    font-family: Ting;
    font-size: 7vh;
    margin: 0%;
    transition: scale .5s, transform .5s;
    transition-timing-function: ease-out;
}
.bio{
    font-family: Didot;
    font-size: large;
    line-height: 1.2;
}
@font-face {
    font-family: ITC;
    src: url(ITC\ Avant\ Garde\ Gothic\ Std\ Extra\ Light.otf);
}
@font-face {
    font-family: Ok;
    src: url(Okaluera.otf);
}
@keyframes shift {
    0% {top:-10px; opacity: 0;}
    100%{top: 0px; opacity: 1;}
}
@keyframes shakey {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}